/.phpunit.cache
/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
/database/*.sqlite
.env
.env.backup
.DS_Store
Thumbs.db
.idea
.vscode

/bin/gojet-redirector
/dist
/RELEASE-MANIFEST.txt
